body {
  background: linear-gradient(120deg, #caffbf 0%, #a0c4ff 100%);
  /* background: linear-gradient(120deg, #343A4F, #0F1620); */
  width: 100%;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  
  
}

.container {
  max-width: 400px;
  margin-top: 10px
}

.row {
  /* margin: 0 -5px; */
  display: flex;
  justify-content: space-around;/* Positioning them with spaces */
  flex-wrap: wrap; /* Wrapping Elements when page is small */
  
}
/* .column{
  float: left;
  width: 100%;
  padding: 0 10px;
} */
.card1 {
  width:300px;
  height: 300px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 10%;
  
}


.icon,.icon1,
.icon2,.icon3,
.icon4 {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}


.forecast_title{
  margin-top: 50px;
  margin-bottom: 60px;
  color: black;
}